gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
build
*.class
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.gradle
**/.project
**/.classpath
**/.settings/
**/.tern-project
blog/bin/

#IntelliJ files
**/*.iml
**/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*